<!DOCTYPE html>
<html lang="fr">
<head>
    <title>En construction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset('vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}">
    <!--===============================================================================================-->
</head>
<body>
        {% block body %}{% endblock %}

            <!--===============================================================================================-->
            <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/countdowntime/moment.min.js') }}"></script>
            <script src="{{ asset('vendor/countdowntime/moment-timezone.min.js') }}"></script>
            <script src="{{ asset('vendor/countdowntime/moment-timezone-with-data.min.js') }}"></script>
            <script src="{{ asset('vendor/countdowntime/countdowntime.js') }}"></script>
            <script>
                $('.cd100').countdown100({
                    /*Set Endtime here*/
                    /*Endtime must be > current time*/
                    endtimeYear: 0,
                    endtimeMonth: 0,
                    endtimeDate: 7,
                    endtimeHours: 18,
                    endtimeMinutes: 0,
                    endtimeSeconds: 0,
                    timeZone: ""
                    // ex:  timeZone: "America/New_York "
                    //go to " http://momentjs.com/timezone/ " to get timezone
                });
            </script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/tilt/tilt.jquery.min.js') }}"></script>
            <script >
                $('.js-tilt').tilt({
                    scale: 1.1
                })
            </script>
            <!--===============================================================================================-->
            <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
